/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

/* Barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #23A199;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Contenedor principal */
.contenedor {
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

/* Barra de búsqueda */
.encabezado {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.encabezado input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #c3c3c3;
    margin-right: 10px;
}

/* Contenedor de la barra de búsqueda */
.barra-busqueda {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.barra-busqueda input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 20px; /* Deja espacio para el ícono */
    border: none;
    border-radius: 20px;
    background-color: #c3c3c3;
}

.barra-busqueda input[type="text"]:focus {
    outline: none;
}

.icono-buscar {
    position: absolute;
    right: 15px; /* Posición del ícono dentro de la barra */
    width: 24px;
    height: 24px;
    cursor: pointer;
}


/* Estilo de productos */
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.precio {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.descripcion {
    font-size: 14px;
    color: #555;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .productos {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .logo span {
        font-size: 18px;
    }
}
